# Bot
BOT_TOKEN=your_bot_token

# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(message)s (%(filename)s:%(lineno)s)"

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default  # <- Не менять!
REDIS_PASSWORD=default